{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="text-center mt-3">Liste des clients</h1>
		<button class="btn btn-warning mt-3">
			<a class="text-center" style="color:white; text-decoration:none;" href="{{ path('member_account') }}">Accueil de l'adminstration</a>
		</button>
		<table class="table mt-5">
			<thead>
				<tr>

					<th class="event-date">Email</th>
					<th class="event-date">Prénom</th>
					<th class="event-date">Nom</th>
					<th class="event-date">Adresse</th>
					<th class="event-date">Ville</th>
					<th class="event-date">Tel</th>
					<th class="event-date">Inscrit</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{% for user in users %}
					<tr>

						<td data-label="Email">{{ user.email }}</td>
						<td data-label="Prénom">{{user.firstName}}</td>
						<td data-label="Nom">{{ user.lastName }}</td>
						<td data-label="Adresse">{{ user.address }}</td>
						<td data-label="Ville">{{ user.city }}</td>
						<td data-label="Téléphone">{{ user.tel }}</td>
						<td data-label="Enregistré le">{{ user.registeredAt ? user.registeredAt|date('\\l\\e d-m-y \\à H:i') : '' }}</td>
						<td data-label="Profil">
							<button class="btn btn-success">
								<a style="color:white; text-decoration:none;" href="{{ path('user_admin_show', {'id': user.id}) }}">Voir les informations du client</a>
							</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="12" data-label="Vide">Aucun client trouvé.</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>

	<div class="pagination">

		{{ knp_pagination_render (users)}}
	</div>
</div>{% endblock %}
