{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="text-center">Liste des clients</h1>
		<button class="btn btn-warning">
			<a class="text-center" style="color:white; text-decoration:none;" href="{{ path('member_account') }}">Accueil de l'adminstration</a>
		</button>
		<table class="table mt-3">
			<thead>
				<tr>

					<th>Email</th>


					<th>Prénom</th>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Ville</th>
					<th>Tel</th>
					<th>Inscrit</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{% for user in users %}
					<tr>

						<td>{{ user.email }}</td>


						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>{{ user.address }}</td>
						<td>{{ user.city }}</td>
						<td>{{ user.tel }}</td>
						<td>{{ user.registeredAt ? user.registeredAt|date('\\l\\e d-m-y \\à H:i') : '' }}</td>
						<td>
							<button class="btn btn-success">
								<a style="color:white; text-decoration:none;" href="{{ path('user_admin_show', {'id': user.id}) }}">Voir les informations du client</a>
							</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="12">no records found</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

		<div class="pagination">

			{{ knp_pagination_render (users)}}
		</div>
	</div>


{% endblock %}
