{% extends 'base.html.twig' %}

{% block title %}Votre compte
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3">Votre compte
		{{ user.firstName | capitalize }}
		{{ user.lastName | capitalize  }}</h1>

	<div class="container row m-auto">
		<div class="col">
			<h3 class="text-center mt-5">Vos commandes</h3>
			{% if commande != []  %}

				{% for achat in commande %}

					{% for item in achat.menu %}
						<p class="text-center mt-3">Votre menu :
							<strong>{{ item.name | capitalize }}</strong><br></p>

						<div class="text-center">

							{{ item.entree}}
							{{ item.plat}}
							{{ item.fromage}}
							{{ item.dessert}}
							{{ item.boisson}}
							<p>{{ item.price }}
								€</p>
						</div>
					{% endfor %}

					<p class="text-center mt-3">Heure et date de la commande :
						{{ achat.registeredAt ? achat.registeredAt|date('\\à H:i \\l\\e d/m/y') : '' }}</p>

					<p class="text-center mt-3">Quantité :
						{{ achat.quantity}}</p>

					<p class="text-center mt-3">Total :
						<strong>{{ achat.total}}
							€</strong>
					</p>
					<p class="text-center">

						{% if achat.status == "PENDING"%}

							<button class="btn btn-danger">
								<a style="color: white; text-decoration:none;" href="{{ path('purchase_edit', {'id': achat.id}) }}">Annuler ou modifier cette commande</a>
							</button>
							<button type="submit" class="btn btn-success">
								<a style="color: white; text-decoration:none;" href="{{ path('payment_stripe', {'id': achat.id}) }}">Payer cette commande</a>
							</button>
						{% endif %}
						{% if achat.status == "PAID"%}
							Cette commande a été réglée.
						{% endif %}
					</p>
					<hr>
				{% endfor %}

			{% else %}
				<p class="text-center mt-5">Vous n'avez pas de commande en cours.</p>
			{% endif %}

			{% if commande != []  %}
				<p class="text-center mt-5">
					<i class="fas fa-shopping-basket"></i>

					Total de toutes vos commandes =
					<strong>{{ total * 100}}
						€</strong>
				</p>

			{% endif %}

		</div>

		<div class="col text-center">
			<h3 class="text-center mt-5">Vos informations personnelles</h3>
			<p class="text-center mt-3">Vous habitez :
				{{ user.address | capitalize}}</p>
			<p class="text-center">à
				{{ user.city | capitalize }}</p>
			<p class="text-center">Votre numéro de téléphone :
				{{ user.tel }}</p>
			<p class="text-center">Votre adresse email :
				{{ user.email }}</p>
			<button class="btn btn-primary">
				<a style="color: white; text-decoration:none;" href="{{ path('user_edit', {'id': user.id }) }}">Modifier vos informations</a>
			</button>
		</div>
	</div>

{% endblock %}
