{% extends 'base.html.twig' %}

{% block title %}Commandes
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Vos commandes</h1>
	<div class="container mt-5">
		<button class="btn btn-success">
			<a style="color:white; text-decoration:none;" href="{{ path('member_account') }}">Accueil de l'administration</a>
		</button>
		<table class="table mt-3">
			<thead>
				<tr>
					<th>Menu</th>
					<th>Client</th>
					<th>Heure et date de la commande</th>
					<th>Quantité</th>
					<th>Total</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>


				{% for order in orders %}

					<tr>
						{% for item in order.menu %}

							<td>
								<p>{{ item.name | nl2br}}
								</p>
							</td>

						{% endfor %}

						{% if order.user %}
							<td>{{ order.user.firstName }}
								{{ order.user.lastName }}</td>
						{% else %}
							<td>Ce client a supprimé son compte</td>
						{% endif %}


						<td>{{ order.registeredAt ? order.registeredAt|date('\\à H:i \\l\\e d/m/y') : '' }}</td>
						<td>{{ order.quantity }}</td>
						<td>{{ order.total }}
							€</td>
						<td>
							{% if order.status == "PAID" %}
								<span class="badge badge-success">
									{{ 'Payée' | trans({'%fr%': order.status })}}
								</span>
							{% else %}
								<span class="badge badge-danger">
									{{ 'En attente' | trans({'%fr%': order.status })}}
								</span>
							{% endif %}
						</td>
						<td>

							<button class="btn btn-warning">
								<a style="color:white; text-decoration:none;" href="{{ path('purchase_admin_edit', {'id': order.id}) }}">modifier la commande</a>
							</button>
						</td>
					</tr>

				{% else %}

					<tr>
						<td colspan="3">Vous n'avez pas de commande.</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>


</div>{% endblock %}
