{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-3">Commande</h1>

		<table class="table mt-3">
			<tbody>

				<tr>
					<th>Menu</th>
					<td>{{ dump(order) }}{{order.menu }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('purchase_admin_index') }}">Retour à la liste</a>

		<a href="{{ path('purchase_admin_edit', {'id': order.id}) }}">Modifier</a>

		{{ include('admin/purchase/_delete_form.html.twig') }}
	</div>

{% endblock %}
