{% extends 'base.html.twig' %}

{% block title %}Les menus
{% endblock %}

{% block body %}
<h1 class="text-center mt-5">Les menus</h1>
<div class="container mt-5">

	{{dump(menus)}}
	{% for menu in menus %}

		<p>
			<h3>{{ menu.name | capitalize }}</h3>
		</p>
		<p>{{ menu.entree | capitalize }}</p>
		<p>{{ menu.plat | capitalize }}</p>
		<p>{{ menu.fromage | capitalize }}</p>
		<p>{{ menu.dessert | capitalize }}</p>
		<p>{{ menu.boisson | capitalize }}</p>
		<p>
			<strong>{{ menu.price }}</strong>
		</p>

		<p>
			<button class=" btn btn-success btn-sm bouton">
				<a href="{{ path('purchase_new', {'id': menu.id}) }}">Commander</a>
			</button>

		</p>

	</p>
{% else %}

	<p colspan="9 text-center">Pas encore de menu créé.</p>
</p>{% endfor %}</div>{% endblock %}
